@import "style.css";

#links-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 4rem;
    width: 100%;
    justify-content: center;
}

.link-container {
    animation: stack-links 900ms ease-in-out calc(50ms * var(--order));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --r: 20px;
    /* control the rounded part */
    --s: 40px;
    /* control the size of the cut */
    --a: 20deg;
    /* control the depth of the curvature */

    width: 250px;
    aspect-ratio: 1;
    background: #ED303C;
    border-radius: var(--r);
    --_m: 0/calc(2*var(--r)) var(--r) no-repeat radial-gradient(50% 100% at bottom, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r))*cos(var(--a));
    mask:
        calc(50% + var(--_d)) var(--_m), calc(50% - var(--_d)) var(--_m),
        radial-gradient(var(--s) at 50% calc(-1*sin(var(--a))*var(--s)),
            #0000 100%, #000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat,
        linear-gradient(90deg, #000 calc(50% - var(--_d)), #0000 0 calc(50% + var(--_d)), #000 0);
    background-color: var(--link-container-color);
    /*border-radius: 50%;*/
    cursor: pointer;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}