@import "style.css";


.link-container {
    height: 6rem;
    width: 6rem;
    background-color: var(--link-container-color);
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    /*border-radius: 50%; /* Optional: Make container circular */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
