@import "style.css";

#links-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 4rem;
    width: 100%;
    justify-content: center;
}

.link-container {
    animation: stack-links 900ms ease-in-out calc(50ms * var(--order));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: var(--link-container-color);
    cursor: pointer;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
    --r: 25px; /* the radius */
  --s: 40px; /* the size of the corner*/
  
  width: 250px;
  aspect-ratio: 1;
  background: #3FB8AF;
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r))
    radial-gradient(#000 70%,#0000 72%) no-repeat;
  mask:
    right calc(var(--s) + var(--r)) top 0 var(--_m),
    right calc(var(--s) + var(--r)) var(--_m),
    radial-gradient(var(--s) at 100% 0,#0000 99%,#000 101%) 
     calc(-1*var(--r)) var(--r) no-repeat,
    conic-gradient(at calc(100% - var(--s) - 2*var(--r)) calc(var(--s) + 2*var(--r)),
     #0000 25%,#000 0);

}
 