@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --bg-color: #011734;
    --general-font-color: #fff;
    --link-container-color: rgba(3, 0, 15, 0.712);
    --link-font-color: #f6f8f9;
}

@keyframes basic-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes stack-links {
    from {
        opacity: 0 !important;
        transform: translateX(-50%);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    color: var(--general-font-color);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: basic-fade 500ms ease-in-out;
}

/* This is a special class used to fully remove the content until everything is fully loaded */
.disappear {
    display: none !important;
}
#styleChangeDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    animation: fade-in 1.5s ease-in-out;
    background-color: var(--link-container-color);
}
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    animation: fade-in 1.5s ease-in-out;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

#profile-picture {
    width: 7rem;
    height: 7rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0.25rem;
}

#profile-picture img {
    width: 7rem;
    height: 7rem;
}

#name {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
}

#name img {
    margin-left: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
    transform: translateY(25%);
}

#handle {
    margin-top: -0.5rem;
    font-size: 1.1rem;
}

#description {
    font-size: 1.15rem;
    max-width: 28rem;
    font-style: italic;
    font-weight: 600;
    margin-top: -0.1rem;
}

/* Links are hidden at first */
.hide {
    opacity: 0 !important;
}

.page {
    display: none;
}

.pagination-controls button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--link-container-color);
    border-radius: 50%;
}

.pagination-controls button:hover {
    transform: scale(1.05);
    border-style: solid;
}


.link-container:hover {
    transform: scale(1.05);
}

.link-container a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-name p {
    color: var(--link-font-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.link-icon {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon img {
    width: 2rem;
    height: 2rem;
}

.copyright {
    margin: 1.5rem 0rem;
}

#copyright-info {
    font-size: 1.12rem;
}
